html, body {
  font-family: Garamond, serif;
  background: rgb(180, 196, 36);
  margin: -10px;
  padding: 0px;
}

.canvas {
  display: block;
  position: absolute;
  margin: 0px;
  padding: 0px;
}

.h1 {color: rgb(110, 81, 65);
  width: 100%
  font-size: 42px;
  font-family: sans-serif;
  position: absolute;
}
  #id1 {color: rgb(110, 81, 65);
    font-size: 42px;
    font-family: Garamond, serif;
    width: 60%;
    right: 5%;
    top:10%;
  }
  #id2 {color: rgb(110, 81, 65);
    font-size: 30px;
    font-family: Garamond, serif;
    width: 60%;
    right: -16%;
    top:20%;
  }

  .slidecontainer {
    margin: -10px;
    position: absolute;
    width: 60%;
    right: -15%;
    top:95%;
}
