html, body {
  font-family: Garamond, serif;
  background: rgb(191, 106, 15);
  margin: -10px;
  padding: 0px;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
}

/* Control the right side */
.right {
  width: 50%;
  right: -5%;
  top:0%;
  background-color: rgb(180, 196, 36);
}

.canvas {
  display: block;
  position: absolute;
  margin: 0px;
  padding: 0px;
}

.h1 {color: rgb(110, 81, 65);
  width: 100%
  font-size: 30px;
  font-family: sans-serif;
  position: absolute;
}
  #id1 {color: rgb(110, 81, 65);
    font-size: 40px;
    font-family: Garamond, serif;
    width: 100%;
    right:-3%;
    top:0%;
  }
  #id2 {color: rgb(110, 81, 65);
    font-size: 30px;
    font-family: Garamond, serif;
    width: 60%;
    right: 34%;
    top:14%;
  }

  .slidecontainer {
    margin: -10px;
    position: absolute;
    width: 60%;
    right: 36%;
    top:95%;
}
