html, body {
  font-family: Garamond, serif;
  background: rgb(27, 0, 115);
  margin: -10px;
  padding: 0px;
}

.canvas {
  display: block;
  position: absolute;
  margin: 0px;
  padding: 0px;
}


.h1 {color: rgb(204, 204, 255);
  width: 100%
  font-size: 42px;
  font-family: sans-serif;
  position: absolute;
}
  #id1 {color: rgb(204, 204, 255);
    font-size: 42px;
    font-family: Garamond, serif;
    width: 60%;
    right: 5%;
    top:5%;
  }
  #id2 {color: rgb(204, 204, 255);
    font-size: 24px;
    font-family: Garamond, serif;
    width: 60%;
    right: -16%;
    top:20%;
  }

  .slidecontainer {
    margin: -10px;
    position: absolute;
    width: 60%;
    right: -15%;
    top:95%;
}
