html, body {
  font-family: Garamond, serif;
  background: rgb(54, 69, 79);
  margin: -10px;
  padding: 0px;
}

.canvas {
  display: block;
  position: absolute;
  margin: 0px;
  padding: 0px;
}


.h1 {color: rgb(229, 228, 226);
  width: 100%
  font-size: 42px;
  font-family: sans-serif;
  position: absolute;
}
  #id1 {color: rgb(229, 228, 226);
    font-size: 42px;
    font-family: Garamond, serif;
    width: 60%;
    right: 5%;
    top:10%;
  }

.p {color: rgb(229, 228, 226);
    width: 100%
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
  }
  #id2 {color: rgb(229, 228, 226);
    position: absolute;
    font-size: 20px;
    font-family: Garamond, serif;
    width: 60%;
    right: 5%;
  }
